[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
*.userprefs
*.csproj
*.sln
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.svd

# Android/iOS builds
*.apk
*.aab
*.ipa
*.xcodeproj
*.xcworkspace

# JetBrains Rider
.idea/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
